/* style.css */

body {
  background-color: #202020
}

p {
  font-family:'Arial';
  font-size:160%;
  color:#F2F2F2;
  text-align:justify;
  text-justify:inter-word
}

#cr {
  font-family: 'Raleway';
  font-size: 300%;
  color:#F2F2F2
}

#res {
  font-family: 'Raleway';
  font-size: 175%;
  color:#D52685
}

#lin {
  font-family: 'Raleway';
  font-size: 175%;
  color:#0077B5
}

#git {
  font-family: 'Raleway';
  font-size: 175%;
  color:#6CC644
}

#mai {
  font-family: 'Raleway';
  font-size: 175%;
  color:#EFF20B
}

#cont {
  width:100%;
  padding:150px 30% 0%
}

@media (max-aspect-ratio: 4/3) {
  #cont {
    width:100%;
    padding:150px 10% 0%
  }
}

#cish {
  width:300px;
  height:300px;
  float:left;
  margin-right:10px;
  border:2px solid #EB8B0A
}

#contact {
  font-family: 'Raleway';
  font-size: 250%;
  color:#EFF20B;
  padding-top:50px;
  padding-left:20%
}

#contactbox {
  display: inline-block;
  border: double 4px #0077B5;
  border-radius: 16px;
  padding: 10px;
  margin-left: 20%;
}

#email {
  display: inline-block;
  border: double 4px #F2F2F2;
  border-radius: 8px;
  padding: 10px;
  color:#F2F2F2;
  font-family:'Raleway'
}

#phone {
  display: inline-block;
  border: double 4px #F2F2F2;
  border-radius: 8px;
  padding: 10px;
  color:#F2F2F2;
  font-family:'Raleway'
}
